<h1>mc-luv search</h1>
<form method="POST">
<p> Date:
  <input type="date" name="date" value="<%= Date.today.iso8601 %>" />
</p>
<p> Origin Airports (comma separated):
  <input type="text" name="orig" />
</p>
<p> Destination Airports (comma separated):
  <input type="text" name="dest" />
</p>
<p>
  <input type="radio" name="route_type" value="all" checked /> All Flights<br/>
  <input type="radio" name="route_type" value="direct" /> Direct (no plane change) + Nonstop<br/>
  <input type="radio" name="route_type" value="nonstop" /> Nonstop<br/>
</p>
<p>
  <input type="submit" value="Search" />
</p>
</form>
